body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.table-container {
    text-align: center;
    background: #fcfcfc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 3px solid #030603; /* Borde externo */
}

h1 {
    color: #333333;
    margin-bottom: 20px;
}

.row {
    display: flex;
    border: 2px solid #0b1c0c; /* Bordes de las filas */
    border-top: none;
    padding: 0;
}

.row.header {
    background-color: #194516;
    color: rgb(249, 241, 241);
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 3px solid #053e78;
}

.cell {
    flex: 1;
    flex-basis: 200px; /* Establece un ancho mínimo para las columnas */
    min-width: 150px; /* Asegura que las columnas no se reduzcan demasiado */
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #ddd; /* Bordes internos */
    word-wrap: break-word; /* Ajusta el texto largo */
}

.row:nth-child(even):not(.header) {
    background-color: #f2f2f2;
}

.row:hover {
    background-color: #e9e9e9;
}

.cell:nth-child(2),
.cell:nth-child(3),
.cell:nth-child(4) {
    font-weight: bold;
}

.cell:nth-child(4) {
    color: #fff;
    background-color: rgb(17, 80, 80); /* Color para notas bajas */
}

.row:hover .cell:nth-child(4) {
    background-color: #dc1111; /* Cambio de color al pasar el cursor */
}
